@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

p {
    font-size: 1.2rem;
    color: #383E56;
}

.p-name {
    font-size: 1.4rem;
}

.heading {
    font-family: 'Nunito Sans', sans-serif;
    color: #FB743E;
}

.profile-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: -20px;
}

.skill-box {
    height: 37px;
    width: auto;
    background-color: #FB743E;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px 20px;
    margin: 10px 10px;
    color: #383E56;
}

li {
    color: #FB743E;
}