@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.footer {
    background-color: #383E56;
    height: 100%;
}

.reach {
    font-family: 'Nunito Sans', sans-serif;
    color: #FB743E;
    font-size: 2.5rem;
}


.google-icon {
    background-color: rgb(223, 63, 63);
    height: 40px;
    width: 40px;
    color: #fff;
    padding-top: 9.5px;
    border-radius: 50%;
    font-size: 20px;
}

.linkedin-icon {
    background-color: #0E76A8;
    height: 40px;
    width: 40px;
    color: #fff;
    padding-top: 9.5px;
    border-radius: 50%;
    font-size: 20px;
}

.github-icon {
    background-color: #333333;
    height: 40px;
    width: 40px;
    color: #fff;
    padding-top: 9.5px;
    border-radius: 50%;
    font-size: 20px;
}

.location {
    font-family: 'Nunito Sans', sans-serif;
    color: #FB743E; 
}

.opportunity {
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

.span-opp {
    font-family: 'Nunito Sans', sans-serif;
    color: #FB743E;
}